* {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.big_title {
    font-size: 100px;
    font-weight: 700;
    color: #ff9900;
    font-family: Hind Siliguri;
    line-height: 100px;
}

@media screen and (max-width:686px) {
    .big_title {
        font-size: 65px;
    }
}

body {
    background: url('../assets/mamun-srizon-qay3lNDSHzc-unsplash.jpg');
    background-position: start;
    background-size: 100% 120vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* height: 100vh;
    width: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:686px) {
    body {
        background-size: 220% 100vh;
    }
}













#nav_mother {
    background-color: transparent;

    position: sticky;
    top: 0px;
}

.custom-nav {
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_open_btn,
.nav_close_btn {
    display: none;
    height: 30px;
    color: #ff9900;
}
.nav_logo{
    display: none;
}

.nav_mother_scroll {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.custom-nav div a {
    margin: 0px 20px;
    text-decoration: none;
    color: white;

    font-family: Hind Siliguri;
}

@media screen and (max-width:686px) {
    .custom-nav {
        justify-content: space-between;
    }
    .custom_nav_links {
        flex-direction: column;
        justify-content: start;
    }

    .custom_nav_links_sm {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.9) ;
        height: 105vh;
        width: 70%;
    }

    .nav_open_btn,.nav_logo {
        display: block;
    }
    .nav_close_btn{
        display: flex;
        margin: 90px 0px;
    }
    .custom-nav div a {
        font-size: 30px;
    }
}














#home_section {
    width: 80%;
}

.home_heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home_content {
    width: 50%;
}

.home_heading_first {
    font-size: 120px;
    font-weight: 700;
    color: white;
    font-family: Hind Siliguri;
    line-height: 100px;
}

.home_heading_second {
    font-size: 100px;
    font-weight: 700;
    color: white;
    font-family: Hind Siliguri;
    line-height: 100px;
}

.home_content img {
    width: 95%;
}

button {
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #ff9900;
    border: solid 1px #ff9900;
    color: white;
}

@media screen and (max-width:986px) {
    .home_container {
        flex-direction: column-reverse;
    }

    .home_heading {
        width: 100%;
    }

    .home_content {
        width: 0%;
    }

    .home_heading_first {
        font-size: 80px;
    }

    .home_heading_second {
        font-size: 60px;
    }
    .see_more_btn{
        display: none;
    }

}

















/* PRODUCT IMG  */
#product_section {
    width: 80%;
    /* background-color: white; */
}

.product-heading {
    width: 40%;
}

.product_content {
    width: 60%;
}

.category_btn {
    margin: 10px 20px;
    cursor: pointer;
}

.category_btn:hover {
    color: #ff9900;
}

.active_cat_btn {
    color: #ff9900;
    border-bottom: 1px solid #ff9900;
}

.product_category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.single_product {
    border: 1px solid #ff9900;
    border-radius: 8px;
}

@media screen and (max-width:686px) {
    #product_section {
        flex-direction: column;
    }

    .product-heading {
        width: 100%;
    }

    .product_content {
        width: 100%;
        margin-top: 30px;
    }

    .category_btn {
        margin: 10px 12px;
    }

    .product_category {
        grid-template-columns: repeat(1, 1fr);
    }
}
















#benifits_section {
    width: 80%;
}

.benifit_content {
    width: 60%;
}

.benifit_heading {
    width: 40%;
}

/* .benifit_heading_title {
    font-size: 95px;
    font-weight: 700;
    color: #ff9900;
    font-family: Hind Siliguri;
    line-height: 100px;
} */

@media screen and (max-width:686px) {
    #benifits_section {
        flex-direction: column;
    }

    .benifit_content {
        width: 100%;
    }

    .benifit_heading {
        margin-top: 20px;
        width: 100%;
    }
}














#award_section {
    width: 80%;
}

.award_heading {
    width: 40%;
}

.award_content {
    width: 60%;
}

/* .award_heading_title {
    font-weight: 700;
    font-size: 95px;
    color: #ff9900;
    font-family: Hind Siliguri;
    line-height: 100px;
} */

.award_single_product {
    /* height: 420px; */
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 8px;
}

.award_category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
}


@media screen and (max-width:686px) {
    #award_section {
        flex-direction: column;
    }

    .award_heading {
        width: 100%;
    }

    .award_content {
        width: 100%;
    }

    .award_category {
        grid-template-columns: repeat(1, 1fr);
    }
}









#blog_section {
    width: 80%;
}

.blog_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    width: 100%;
}

@media screen and (max-width:686px) {
    .blog_items {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (min-width:687px) and (max-width:1199px) {
    .blog_items {
        grid-template-columns: repeat(2, 1fr);

    }
}

















.footer_content {
    display: flex;
}

.footer_content_section {
    width: 60%;
}

.dev_section {
    width: 40%;
    align-items: flex-end;
}


@media screen and (max-width:686px) {
    .footer_content {
        flex-direction: column;
    }

    .niharon_logo {
        width: 100%;
        align-items: left;
    }

    .dev_section {
        margin-top: 30px;
        width: 100%;
        align-items: flex-start;
    }

    .footer_content_section {
        width: 100%;
    }
}